.tag_index {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}
.tag_head {
  font-size: 26px;
}
.tag {
  width: 100%;
  line-height: 30px;
  padding-left: 30px;
  float: left;
  border-left: rgba(51,187,255,0) solid 3px;
}
.tag:hover {
  border-left: #3bf solid 3px;
  background-color: rgba(51,187,255,0.3);
}
.tag .tag_title {
  width: 70%;
  float: left;
}
.tag .tag_title a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tag .tag_categories {
  width: 30%;
  float: right;
}
.tag .tag_categories .tag-list-item {
  display: inline;
  margin-right: 15px;
}
